.col-start-2 {
	grid-column-start: 2;
}
.col-start-3 {
	grid-column-start: 3;
}
.col-start-4 {
	grid-column-start: 4;
}
.col-start-5 {
	grid-column-start: 5;
}
.col-start-6 {
	grid-column-start: 6;
}
.col-start-7 {
	grid-column-start: 7;
}
.col-start-8 {
	grid-column-start: 8;
}
.col-start-9 {
	grid-column-start: 9;
}
.col-start-10 {
	grid-column-start: 10;
}
.col-start-11 {
	grid-column-start: 11;
}
.col-start-12 {
	grid-column-start: 12;
}
.col-start-13 {
	grid-column-start: 13;
}
.col-start-14 {
	grid-column-start: 14;
}
.col-start-15 {
	grid-column-start: 15;
}
.col-start-16 {
	grid-column-start: 16;
}
.col-start-17 {
	grid-column-start: 17;
}
.col-start-18 {
	grid-column-start: 18;
}
.col-start-19 {
	grid-column-start: 19;
}
.col-start-20 {
	grid-column-start: 20;
}
.col-start-21 {
	grid-column-start: 21;
}
.col-start-22 {
	grid-column-start: 22;
}
.col-start-23 {
	grid-column-start: 23;
}
.col-start-24 {
	grid-column-start: 24;
}
.col-start-25 {
	grid-column-start: 25;
}
.col-start-26 {
	grid-column-start: 26;
}
.col-start-27 {
	grid-column-start: 27;
}
.col-start-28 {
	grid-column-start: 28;
}
.col-start-29 {
	grid-column-start: 29;
}
.col-start-30 {
	grid-column-start: 30;
}
.col-start-31 {
	grid-column-start: 31;
}
.col-start-32 {
	grid-column-start: 32;
}
